.headings {
  font-size: 10px;
  padding-top: 10px;
  padding-left: 10px;
  color: #c3c3c3;
  font-weight: bold;
}
.title {
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #6a6a72;
}
.hr {
  color: gray;
  margin-left: 0.7% !important;
}

.rw {
  color: #808080;
  padding-left: 10px !important;
  font-weight: 500px;
}
.card {
  padding: 25px !important;
  border-radius: 10px !important;
  margin-top: 15px !important;
}
.add {
  padding-left: 1100px !important;
  font-size: 25px;
}
.img {
  height: 100px !important;
  width: 100px !important;
}
.head {
  margin-left: 15px !important;
  margin-top: 15px !important;
  font-size: 20px !important;
  font-weight: bold;
}
.name {
  margin-top: 30px !important;
}
