.rw {
  margin-top: 40px !important;
  margin-bottom: 10px !important;
}
.more {
  padding-left: 800px !important;
}
.title {
  font-size: 20px !important;
  font-weight: bold;
}
.card {
  padding: 30px !important;
  width: 1400px !important;
}
