

.JobPage{
    width: 80%;
    margin: 1rem auto;
}

.JobPage_box{
    display: flex;
    justify-content: space-between;
}

.JobPage_box_left_search{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    padding-inline: 1rem;
    background-color: rgba(0,0,0,0.25);
    color: #f18303;
}

.JobPage_box_left_search input{
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1rem;
    color: #f18303;
    width: 20rem;
}

.JobPage_box_right{
    display: flex;
    gap: 1rem;
}

.JobPage_box_right button{
    background-color: rgba(0,0,0,0.25);
    outline: none;
    border: none;
    padding: 1rem 2rem;
    color: #f18303;
    border-radius: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: .5rem;
   
}

.JobPage_model{
    position: fixed;
    inset: 0 0 0 0;
    background-color: #292f3f;
    z-index: 2222222222;
}

@media only screen and (max-width: 35em) {
    .JobPage{
        width: 90%;
    }
    .JobPage_box{
        flex-direction: column;
        gap: 1rem;
    }

    .JobPage_box_left_search input{
        width: 100%
    };
    .JobPage_model{
        position: absolute;
        inset: 0 0 -70% 0;
    };

    .JobPage_box_right button{
        font-size: .5rem;
    }
}

.Chat{
    padding: 2rem;
    background-color: rgba(0,0,0,0.25);
    border-radius: .5rem;
    overflow-y: scroll;
}

.Chat_box{
    display: grid;
    grid-template-columns: 1fr;
    height: 50vh;
    width: 80%;
    margin:  0 auto;
    overflow-y: scroll;
}

.Chat_box_right p,
.Chat_box_left p{
    background-color: #f182035b;
    padding: 1rem;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    position: relative;
}

.Chat_box_left_title{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

.Chat_box_send_img{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Chat_box_send_img input{
    width: 100%;
    background-color: #f182035b;
    outline: none;
    border: none;
    padding: 1rem;
    color: #f18203;
    border-radius: .5rem;
}

.Chat_user_info{
    display: flex;
    align-items: center;
    gap: 2rem;
    line-height: 1;
}

.Chat_user_info_box h4,
.Chat_user_info_box p{
    line-height: 0;
}

